<div class="container">
  <footer class="align-items-center py-3 my-4 border-top">
    <div class="col-md-12 pt-4 mt-1">
      <span class="mb-1 foot-text">© 2023 Creaks Media</span>
    </div>
  </footer>
</div>
