<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Selector</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,500;0,600;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles/app.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="selector-container contact-block">
      <h2>Configure Your Own Jokes</h2>
      <table class="selector-table">
        <tr>
          <td><h4>Select Category / Categories</h4></td>
        </tr>
        <tr>
          <td>
            <label
              ><input type="checkbox" name="Programming" />Programming</label
            >
            <label
              ><input class="checks" type="checkbox" name="Misc" /> Misc</label
            >
            <label
              ><input class="checks" type="checkbox" name="Dark" />Dark</label
            >
            <label
              ><input class="checks" type="checkbox" name="Pun" />Pun</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Spooky"
              />Spooky</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Christmas"
              />Christmas</label
            >
          </td>
        </tr>

        <tr>
          <td><h4>Select flags to Blacklist</h4></td>
        </tr>
        <tr>
          <td>
            <label
              ><input class="checks" type="checkbox" name="nsfw" />NSFW</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Religious"
              />Religious</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Political"
              />Political</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Racist"
              />Racist</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Sexist"
              />Sexist</label
            >
            <label
              ><input
                class="checks"
                type="checkbox"
                name="Explicit"
              />Explicit</label
            >
          </td>
        </tr>
      </table>
      <button class="select-btn">Submit Joke Request</button>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
